#allMovies{
    position: relative;
    width: 1150px; 
    height: 800px;
    top:100px;
    left: 410px;
}
#all_movies{
    position: absolute;
    top:50px;
    display: flex;
    flex-wrap: wrap;
}
.moviePoster{
    padding-top: 30px;
    height: 250px;
    
}
#all_movies li{
    margin-left: 20px;
}
#listheading{
    position: absolute;
    top:130px;
    left: 410px;
    font-family: 'albia';
    font-size: 30px;
    text-align: center;
    width: 1150px; 
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom:  1px solid rgb(172, 171, 171);
}
#listBio{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    top:180px;
    display: flex;
    flex-wrap: wrap;
    left: 430px;
    width: 1000px;
    padding-bottom: 50px;
}
#listUser{
    position: relative;
    top:150px;
    left: 1400px;
}