#favorites{
    position: absolute;
    border-top: 1px solid rgb(172, 171, 171);;
    top:350px;
    left: 410px;
    width: 700px; 
    height: 500px;
}
#favHeading{
    color: white;
    position: absolute;
    top:-30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
#favMovies{
    display: flex;
}
#favMovies li{
    margin-left: 10px;
}
.MoviePoster{
    padding-top: 30px;
    padding-left: 10px;
    width: 170px;
    height: 250px;
    border-radius:10px;
}
#recentHeading{
    color: white;
    position: absolute;
    top:-30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.recentActivity{
    position: absolute;
    border-top: 1px solid rgb(172, 171, 171);;
    top:680px;
    left: 410px;
    width: 700px; 
    height: 500px;
}
#recentActivityList{
    display: flex;
}
#recentActivityList li{
    margin-left: 10px;
}
.userPage{
    position:relative;
    top:1000px;
    left: 410px;
}
.reviewsPage{
    position:relative;
    top:350px;
    left: 410px;
}
#reviews{
    border-top: 1px solid rgb(172, 171, 171);;
    width: 700px; 
    height:auto;
}
#reviewHeading{
    color: white;
    position: absolute;
    top:-30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.revMoviePoster{
    position: relative;
    top:30px;
    padding-top: 0px;
    padding-left: 10px;
    width: 140px;
    height: 200px;
    border-radius:10px;
}
.movieCard{
    width: 700px;
    border: 1px rgb(172, 171, 171) solid;
    height: auto;
    min-height: 300px;


}
.movieName{
    position: relative;
    bottom: 160px;
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    left: 230px;
}
.movieReview{
    position: relative;
    bottom: 150px;
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    left: 170px;
}