#bannerImage{
    width: 1000px;
    height: 500px;
    position: absolute;
    top:100px;
    left: 450px;
    opacity: 60%;
    border-radius: 40px;
}
#moviePoster{
    position: absolute;
    top:540px;
    border-radius: 10px;
    left: 480px;
    width: 220px;
    border: 1px solid rgb(131, 131, 131);
}

#movieTitle{
    position: absolute;
    top:610px;
    left: 740px;
    font-size: 30px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}
#movieHook{
    position: relative;
    top:680px;
    left: 740px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    font-size: 20px;
}
#movieBio{
    position: relative;
    top:690px;
    font-size: 14px;
    width: 500px;
    left: 740px;
    font-family: 'Courier New', Courier, monospace;
}
#pageRouter{
    position: relative;
    top:740px;
    left: 735px;
    width: 500px;
    border-bottom: 1px solid rgb(131, 131, 131);
}
#movieCastTitle{
    position: absolute;
    left: 20px;
    top:-30px;
    width: 30px;
}
#movieCrewTitle{
    position: absolute;
    top:-30px;
    left: 100px;
    width: 40px;
}
#movieDetailsTitle{
    position: absolute;
    top:-30px;
    left: 180px;
    width: 40px;
}
#movieReviewsTitle{
    position: absolute;
    top:-30px;
    left: 260px;
    width: 40px;
}
.highlight{
    border-bottom: 3px solid rgb(72, 165, 72);
    border-radius: 2px;
    padding-bottom: 7px;
}
.nohighlight{
    border: 0px;
}